@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Mulish:wght@200..1000&display=swap');

[src="imagenes/Portada.jpg"] { 
    margin-top: 20px;
}

.navbar-brand img {
    width: 60px;
    margin: 10px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 5em;
    text-transform: uppercase;
    margin: 20px;
}

h2 { font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom:  70px;
    margin-top: 30px;
}

body {
    font-family: "Mulish", sans-serif;
    font-weight: 300;   
    color:  #f9f9f9;
    background-color: #000000f2;
    text-align: center;
    font-size: 1em;
    line-height: 25px
}

h3 {font-size: 1.8em }

main, img {margin-top: 20px;
    margin-bottom: 30px}

h4 {font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration: underline;
}

footer {margin-top: 30px;}